module.exports = {
    // the tcp port that the Node-RED web server is listening on
    uiPort: process.env.PORT || 1880,
  
    // Retry time in milliseconds for MQTT connections
    mqttReconnectTime: 15000,
  
    // Retry time in milliseconds for Serial port connections
    serialReconnectTime: 15000,
    
    // The maximum length, in characters, of any message sent to the debug sidebar tab
    debugMaxLength: 1000,
  
    // Colourise the console output of the debug node
    debugUseColors: true,
  
    // To enabled pretty-printing of the flow within the flow file, set the following
    //  property to true:
    flowFilePretty: true,
  
    //credentialSecret: "<credential secret>",
  
    //adminAuth: {
    //  type: "credentials",
    //  users: [
    //    {
    //      username: "<user>",
    //      password:
    //        "<hashed password>",
    //      permissions: "*"
    //    }
    //  ]
    //},
  
    //httpNodeAuth: {user:"<user>",pass:"<hashed password>"},
    functionGlobalContext: {
       cryptojs: require('crypto-js'),
       lodash: require('lodash'),
       moment: require('moment')
    },
    exportGlobalContextKeys: false,
  
    // Configure the logging output
    logging: {
      // Only console logging is currently supported
      console: {
        level: 'info',
        metrics: false,
        audit: false
      }
    },
  
    editorTheme: {
      projects: {
        enabled: false
      }
    }
  };
  
